body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.navbar-brand{
    font-weight: 400; 
    font-size: 2rem;
}
.navbar-nav{
    margin-left: auto;
    font-weight: 400;
}
header{
    background-image: url("../img/bg-foto-mia.png");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
.text-header{
    padding-top: 400px;
    padding-bottom: 50px;
}
.text-header .line {
    border-top: 2px solid whitesmoke;
    max-width: 200px;
    padding: 0;
    margin: 0 auto 0 auto;
    }
.desc-pp{
    line-height: 1.5;
    text-justify: newspaper;
    font-weight: 600;
    font-size: 1.2rem;
}

.description .line {
    border-top: 2px solid rgb(240, 96, 60);
    max-width: 100px;
    padding: 0;
    margin: 0 auto 0 auto;
    }
.desc-text{
    font-weight: 300;
    line-height: 2;
}
.my-exp .line {
    border-top: 2px solid rgb(240, 96, 60);
    max-width: 100px;
    padding: 1rem 0 1rem 0;
    margin: 0 auto 0 auto;
    }
.portafolio{
    background-color: rgb(240, 96, 60);
    color: whitesmoke;
}
.portafolio .line {
    border-top: 2px solid whitesmoke;
    max-width: 100px;
    padding: 1rem 0 1rem 0;
    margin: 0 auto 0 auto;
    }
    .card-body{
        color: black;
    }
    .card-title{
        font-weight: 600;
    }
    .icons i{
        font-size: 2rem;
        padding: 0 10 0 10;
    }
    @media (max-width: 600px) {
        .description {
          display: none;
        }
    }