body{
    font-family: 'Open Sans', sans-serif;
}
.navbar-nav{
    margin-left: auto;
}
header{
    background-image: url("../img/bg-foto-mia.png");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
.text-header{
    padding-top: 400px;
}
.text-header-bottom{
    padding-bottom: 50px;
    border-top-style: solid;
}

